body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

footer {
    background-color: #312a2a;
    color: #ffffff;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-section p {
    color: #ffffff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    color: #ffffff;
}